@font-face
{
font-family: 鏡文字ゴシック;
src: url('https://cdn.leafscape.be/mirrorfont/TTEditMirrorWritingGothic_web.woff2')
     format("woff2");
}

.typography {
  display: flex;
}

.typography-item {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

select {
  margin-left: 7px;
  font-family: "Yomogi", cursive;
  font-weight: bold;
}

.typography-checkbox {
  position: relative;
  padding-left: 22px;
  font-weight: normal;
  top: -1px; 
}
